body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 30px;
    color: #fe3e9f;
    margin: 0;
    padding: 10px;
}

.ratings-wrapper {
    border: thin solid #ccc;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
}

.ratings{
    display: flex;
    flex-direction: row-reverse;
}

.ratings span{
    cursor: pointer;
    transition: color 0.2s transform 0.2s;
    font-size: 40px;
}

.ratings span:hover {
    transform: scale(1.3);
}


.ratings span:hover ~ span{
    transform: scale(1.3);
}
